<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>What's the Weather like?</title>
</head>
<body>
    <nav>
        <a href="/" class="logo"><h2>What's the Weather like?</h2></a>
    </nav>
    <section id="main">
        <div class="container">
            <form action="/" method="post">
                <input type="text" class="text-box" name="city" placeholder="Enter a city">
                <button type="submit" class="btn">Check</button>
            </form>
        </div>
        <br>
        <div class="output"><h3 style="color:black; font-size: 35px; font-weight:bold; font-family: 'Courier New', Courier, monospace;"></div>
        <div class="show-result">
            <div class="output"><h3 style="color:green; font-size:22px; font-weight:bold; font-family:'Courier New', Courier, monospace">Temperature</h3>{{temperature}} °C</div>
            <div class="output"><h3 style="color:green; font-size:22px; font-weight:bold; font-family:'Courier New', Courier, monospace">Humidity</h3>{{humidity}}%</div>
            <div class="output"><h3 style="color:green; font-size:22px; font-weight:bold; font-family:'Courier New', Courier, monospace">Pressure</h3>{{pressure}}mb</div>
            <div class="output"><h3 style="color:green; font-size:22px; font-weight:bold; font-family:'Courier New', Courier, monospace">Wind Speed</h3>{{wind}}km/h</div>
        </div>
    </section>
</body>
</html>